* {
    box-sizing: border-box;
  }
@media only screen and (max-width:300px){
  body{ 
    background:red; 
    font-size:5vw ;
}
#large{
    display: block;
    visibility: hidden;
}
#medium{
    display: block;
    visibility: hidden;
}
}

@media (min-width:768px) {
body{
    background-color: green;
    font-size:5vw ;
}
#small{
    display:none;
    visibility:hidden;
}
#large{
    display: block;
    visibility: hidden;
}
}
@media (min-width:992px) {
    body{
        background-color:blue;
        
    }
    #small{
        display:none;
        visibility:hidden;
    }
   
    #large{
        display: block;
        visibility: visible;
        font-size:5vw ;
    }
    #medium{
        display:none;
        visibility: hidden;
    }
}
body p{
 font-size: 5vw;
}